=link_to "(Delete)", resource(person), :class => "utility delete collapse"
=link_to "(Edit)", resource(person, :edit), :class => "utility edit collapse"
%h2.person_name
  = person.ordered_name
  - if person.paddle
    %span.paddlenum== (#{person.paddle})
  
%p.inline.collapse
  %strong E-mail: 
  =person.email
  -unless person.phone.blank?
    %br
    %strong Phone #:
    =person.phone

%h3.collapse Winning Bids
%table.collapse
  %tr
    %th Item
    %th Amount
  - if person && person.bids 
    - person.bids.each do |bid|
      - if bid.winning
        %tr
          %td= bid.auction.title
          %td= bid.amount.to_currency