=link_to "(Delete)", resource(auction), :class => "utility delete collapse"
=link_to "(Edit)", resource(auction, :edit), :class => "utility edit collapse"
%h2.auction_title= auction.title
%p= auction.description
%p.inline.collapse
  %strong Total Available: 
  =auction.quantity
  %br
  %strong Minimum Bid:
  =auction.minimum_bid.to_currency
