/* We're going to set up an elastic layout here, with sidebar on the right */
#master {
  width: 50em;
  margin: 1em;
  padding: 0.8em;
  border-style: groove;
  border-width: 0.25em;
  border-color: #663300;
  background-color: #cc9966;
  background-image: url(/images/sand.jpg); }

.block {
  padding: 0.5em', '0.25em;
  border-style: ridge;
  border-width: 0.25;
  border-color: #663300; }

.inset {
  padding: (0.5 * !margin_width) + !units;
  margin: (0.25 * !margin_width) + !units + ', 0';
  border-style: inset;
  border-width: 0.125em;
  border-color: #663300; }
