/* We're going to set up an elastic layout here, with sidebar on the right */
#master {
  width: 50em;
  margin: 1em;
  padding: 0.5em;
  border-style: groove;
  border-width: 0.25em;
  border-color: #663300;
  background-color: #cc9966;
  background-image: url(/images/sand.jpg); }

#header {
  font-family: "Trebuchet MS","Lucida Sans",Geneva,Helvetica,sans-serif;
  color: white;
  padding: 0.5em; }
  #header h1 {
    font-size: 180%;
    padding-bottom: 2em;
    vertical-align: middle; }
  #header .inline {
    display: inline;
    margin-right: 1em; }
  #header #nav {
    float: right;
    font-size: 80%; }
    #header #nav a {
      color: white;
      text-decoration: none; }
    #header #nav a:hover {
      color: blue; }
    #header #nav ul {
      list-style-position: inside;
      margin: 0;
      padding: 0; }

#listing {
  float: left;
  width: 29.4016994384476em; }
  #listing h1 {
    margin: 0.5em; }
  #listing .inset h2 {
    margin: 0.25em 0; }
  #listing .inset a {
    color: black; }
  #listing .inset a:hover {
    color: blue; }
  #listing .inset p {
    margin: 0; }
  #listing .inset a.utility {
    margin-left: 0.5em;
    float: right;
    font-size: x-small;
    font-family: "Trebuchet MS","Lucida Sans",Geneva,Helvetica,sans-serif;
    text-decoration: none; }

#sidebar {
  float: right;
  width: 19.0983005615524em; }

#footer {
  clear: both;
  font-family: "Trebuchet MS","Lucida Sans",Geneva,Helvetica,sans-serif;
  color: white;
  text-align: center; }

#filter {
  font-family: "Trebuchet MS","Lucida Sans",Geneva,Helvetica,sans-serif;
  font-size: smaller; }

.message {
  clear: both;
  font-size: 80%;
  font-family: "Trebuchet MS","Lucida Sans",Geneva,Helvetica,sans-serif;
  color: white; }
  .message .error {
    background-color: red;
    background-image: url(/images/sand_red.jpg); }
  .message .warning {
    color: black;
    background-color: yellow;
    background-image: url(/images/sand_yellow.jpg); }
  .message .notice, .message .info, .message .success {
    background-color: green;
    background-image: url(/images/sand_green.jpg); }

.errors {
  font-size: 60%;
  font-family: "Trebuchet MS","Lucida Sans",Geneva,Helvetica,sans-serif;
  color: black; }
  .errors h2 {
    margin: 0px; }
  .errors ul li {
    background-color: yellow;
    background-image: url(/images/sand_yellow.jpg); }

.block, .message, .errors {
  border-style: ridge;
  border-width: 0.25;
  border-color: #663300;
  margin: 0.5em; }

.inset, .message div, .errors ul li {
  clear: both;
  padding: 0.5em;
  margin: 0.5em;
  border-style: inset;
  border-width: 0.125em;
  border-color: #663300; }

.checklist, .radiolist {
  float: left; }
  .checklist p,   .radiolist p {
    text-decoration: underline;
    margin: 0; }
  .checklist ul,   .radiolist ul {
    margin: 0.25em;
    padding: 0;
    list-style-type: none;
    list-style-position: inside; }
    .checklist ul li,     .radiolist ul li {
      margin: 0; }

.checklist {
  width: 40%; }

.status {
  clear: both;
  padding: 0.5em 0;
  text-align: center;
  font-weight: bold; }

.active {
  background-image: url(/images/sand_darker.jpg); }

#listing .collapse {
  display: none; }

.line {
  clear: both; }
